<!DOCTYPE html>
{% load staticfiles %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Users Data</title>
    <link rel="stylesheet" href="{% static 'app_5_2/css/my_css.css' %}">
  </head>
  <body>

    <h1>This is our Users data</h1>
    <small>{{insert_me}}</small>

    <div class="Users_data">

      {% if users_list %}

      <ol>
      {% for user in users_list %}
      <li>{{user.first_name}} {{user.last_name}}'s info:

        <ul>
          <li>Last_name: {{user.last_name}}</li>
          <li>First_name: {{user.first_name}}</li>
          <li>Email: {{user.email}}</li>

        </ul>
      </li>
      {% endfor %}

    </ol>
      {% else %}
      <li>No user found</li>

      {% endif %}


    </div>

  </body>
</html>
