<!-- <!DOCTYPE html>
{% load staticfiles %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>A Template</title>
    <link rel="stylesheet" href="{% static 'css/my_style.css' %} "/>
  </head>
  <body>
    <h1>Hello this is project in Django level two</h1>
    <h2>Here are your access records:</h2>

    <div class="project_4">
      {% if access_records %}
        <table>
          <thead>
            <th>Date Accessed</th>
            <th>Site Name</th>
          </thead>

          {% for acc in access_records %}
          <tr>
            <td>{{acc.name}}</td>
            <td>{{acc.date}}</td>
          </tr>
          {% endfor %}

        </table>

        {% else %}
        <h1>NO ACCESS RECORD FOUND!</h1>
        {% endif %}


    </div>

  </body>
</html> -->


<!DOCTYPE html>
{% load staticfiles %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Exercise</title>
    <link rel="stylesheet" href="{% static 'css/my_style.css' %}">
  </head>
  <body>
    <h1>Here are list of user informations:</h1>

    <div class="user_info">

    </div>



  </body>
</html>
