@import url('https://fonts.googleapis.com/css?family=Cantarell:regular,bold');html{color:#fff}body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td{margin:0;padding:0}table{border-collapse:collapse;border-spacing:0}fieldset,img{border:0}address,caption,cite,code,dfn,em,strong,th,var,optgroup{font-style:inherit;font-weight:inherit}del,ins{text-decoration:none}li{list-style:none}caption,th{text-align:left}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}q:before,q:after{content:''}abbr,acronym{border:0;font-variant:normal}sup{vertical-align:baseline}sub{vertical-align:baseline}legend{color:#000}input,button,textarea,select,optgroup,option{font-family:inherit;font-size:inherit;font-style:inherit;font-weight:inherit}input,button,textarea,select{*font-size:100%}body{font:13px/1.231 arial,helvetica,clean,sans-serif;*font-size:small;*font:x-small}select,input,button,textarea,button{font:99% arial,helvetica,clean,sans-serif}table{font-size:inherit;font:100%}pre,code,kbd,samp,tt{font-family:monospace;*font-size:108%;line-height:100%}a{color:#923c83;display:block;text-decoration:none}a:hover{text-decoration:underline}blockquote{}body{background:url(../images/bg.jpg) no-repeat left bottom;color:#666;font-family:'Lucida Grande','Lucida Sans',arial,sans-serif}pre,code{}em{font-style:italic}fieldset{background:#fff;border:1px
solid #ddd;padding:10px;margin:20px
0px}fieldset
legend{color:#9f218b;font-family:'Cantarell',arial,sans-serif;font-size:16px;padding:0px
5px;margin:0px
-10px 0px 0px}fieldset
hr{border:1px
solid #ddd;border-width:0 0 1px;clear:both;display:block;margin:0
15px 10px;padding:10px
0}h1,h2,h3,h4,h5,h6{font-family:'Cantarell',arial,sans-serif;font-weight:normal;margin:20px
0px}h1{border-bottom:1px dotted #CB8BBD;color:#9f218b;font-size:24px;margin-bottom:10px;padding-bottom:10px}h2{color:#9f218b;font-size:16px;margin-bottom:10px}h3{}input[type=submit]{background:url(../images/nav-element.png) no-repeat left -75px;border:1px
solid #444;border-width:1px 0px 0px;color:#fff;line-height:30px;padding:0px 10px 0px 10px;text-shadow:0px -1px rgba(0,0,0,0.6)}input[type=submit]:hover{background:url(../images/nav-hover.png) no-repeat left -75px;border-top:1px solid #888;-moz-text-shadow:0px -1px rgba(0,0,0,0.4);-webkit-text-shadow:0px -1px rgba(0,0,0,0.4);-o-text-shadow:0px -1px rgba(0,0,0,0.4);text-shadow:0px -1px rgba(0,0,0,0.4)}input[type=submit]:active{border-top:1px solid #888;-moz-box-shadow:inset 0px 0px 3px rgba(0,0,0,0.6);-webkit-box-shadow:inset 0px 0px 3px rgba(0,0,0,0.6);box-shadow:inset 0px 0px 3px rgba(0,0,0,0.6);-moz-text-shadow:0px -1px rgba(0,0,0,1);-webkit-text-shadow:0px -1px rgba(0,0,0,1);-o-text-shadow:0px -1px rgba(0,0,0,1);text-shadow:0px -1px rgba(0,0,0,1)}label
a{display:inline}li{line-height:140%}ol
li{list-style-type:lower-roman}ol,ul{margin:0px
0px 20px 50px}ul
li{list-style-type:disc}p,blockquote{margin-bottom:20px;line-height:160%}p
a{display:inline}strong{font-weight:bold}table{border:1px
solid #ddd;border-collapse:separate;margin-bottom:20px;width:100%}table
p{margin-bottom:10px}table
td{padding:5px;vertical-align:top}table td:first-child{background:#f0f0f0;width:160px}.container_12,.container_16{margin-left:auto;margin-right:auto;width:960px}.grid_1,.grid_2,.grid_3,.grid_3a,.grid_4,.grid_5,.grid_6,.grid_7,.grid_8,.grid_9,.grid_10,.grid_11,.grid_12,.grid_13,.grid_14,.grid_15,.grid_16{display:inline;float:left;margin-left:10px;margin-right:10px}.push_1,.pull_1,.push_2,.pull_2,.push_3,.pull_3,.push_4,.pull_4,.push_5,.pull_5,.push_6,.pull_6,.push_7,.pull_7,.push_8,.pull_8,.push_9,.pull_9,.push_10,.pull_10,.push_11,.pull_11,.push_12,.pull_12,.push_13,.pull_13,.push_14,.pull_14,.push_15,.pull_15{position:relative}.container_12 .grid_3,.container_12 .grid_3a,.container_16
.grid_4{width:220px}.container_12 .grid_6,.container_16
.grid_8{width:460px}.container_12 .grid_9,.container_16
.grid_12{width:700px}.container_12 .grid_12,.container_16
.grid_16{width:940px}.alpha{margin-left:0}.omega{margin-right:0}.container_12
.grid_1{width:60px}.container_12
.grid_2{width:140px}.container_12
.grid_4{width:300px}.container_12
.grid_5{width:380px}.container_12
.grid_7{width:540px}.container_12
.grid_8{width:620px}.container_12
.grid_10{width:780px}.container_12
.grid_11{width:860px}.container_16
.grid_1{width:40px}.container_16
.grid_2{width:100px}.container_16
.grid_3{width:160px}.container_16
.grid_5{width:280px}.container_16
.grid_6{width:340px}.container_16
.grid_7{width:400px}.container_16
.grid_9{width:520px}.container_16
.grid_10{width:580px}.container_16
.grid_11{width:640px}.container_16
.grid_13{width:760px}.container_16
.grid_14{width:820px}.container_16
.grid_15{width:880px}.container_12 .prefix_3,.container_16
.prefix_4{padding-left:240px}.container_12 .prefix_6,.container_16
.prefix_8{padding-left:480px}.container_12 .prefix_9,.container_16
.prefix_12{padding-left:720px}.container_12
.prefix_1{padding-left:80px}.container_12
.prefix_2{padding-left:160px}.container_12
.prefix_4{padding-left:320px}.container_12
.prefix_5{padding-left:400px}.container_12
.prefix_7{padding-left:560px}.container_12
.prefix_8{padding-left:640px}.container_12
.prefix_10{padding-left:800px}.container_12
.prefix_11{padding-left:880px}.container_16
.prefix_1{padding-left:60px}.container_16
.prefix_2{padding-left:120px}.container_16
.prefix_3{padding-left:180px}.container_16
.prefix_5{padding-left:300px}.container_16
.prefix_6{padding-left:360px}.container_16
.prefix_7{padding-left:420px}.container_16
.prefix_9{padding-left:540px}.container_16
.prefix_10{padding-left:600px}.container_16
.prefix_11{padding-left:660px}.container_16
.prefix_13{padding-left:780px}.container_16
.prefix_14{padding-left:840px}.container_16
.prefix_15{padding-left:900px}.container_12 .suffix_3,.container_16
.suffix_4{padding-right:240px}.container_12 .suffix_6,.container_16
.suffix_8{padding-right:480px}.container_12 .suffix_9,.container_16
.suffix_12{padding-right:720px}.container_12
.suffix_1{padding-right:80px}.container_12
.suffix_2{padding-right:160px}.container_12
.suffix_4{padding-right:320px}.container_12
.suffix_5{padding-right:400px}.container_12
.suffix_7{padding-right:560px}.container_12
.suffix_8{padding-right:640px}.container_12
.suffix_10{padding-right:800px}.container_12
.suffix_11{padding-right:880px}.container_16
.suffix_1{padding-right:60px}.container_16
.suffix_2{padding-right:120px}.container_16
.suffix_3{padding-right:180px}.container_16
.suffix_5{padding-right:300px}.container_16
.suffix_6{padding-right:360px}.container_16
.suffix_7{padding-right:420px}.container_16
.suffix_9{padding-right:540px}.container_16
.suffix_10{padding-right:600px}.container_16
.suffix_11{padding-right:660px}.container_16
.suffix_13{padding-right:780px}.container_16
.suffix_14{padding-right:840px}.container_16
.suffix_15{padding-right:900px}.container_12 .push_3,.container_16
.push_4{left:240px}.container_12 .push_6,.container_16
.push_8{left:480px}.container_12 .push_9,.container_16
.push_12{left:720px}.container_12
.push_1{left:80px}.container_12
.push_2{left:160px}.container_12
.push_4{left:320px}.container_12
.push_5{left:400px}.container_12
.push_7{left:560px}.container_12
.push_8{left:640px}.container_12
.push_10{left:800px}.container_12
.push_11{left:880px}.container_16
.push_1{left:60px}.container_16
.push_2{left:120px}.container_16
.push_3{left:180px}.container_16
.push_5{left:300px}.container_16
.push_6{left:360px}.container_16
.push_7{left:420px}.container_16
.push_9{left:540px}.container_16
.push_10{left:600px}.container_16
.push_11{left:660px}.container_16
.push_13{left:780px}.container_16
.push_14{left:840px}.container_16
.push_15{left:900px}.container_12 .pull_3,.container_16
.pull_4{left:-240px}.container_12 .pull_6,.container_16
.pull_8{left:-480px}.container_12 .pull_9,.container_16
.pull_12{left:-720px}.container_12
.pull_1{left:-80px}.container_12
.pull_2{left:-160px}.container_12
.pull_4{left:-320px}.container_12
.pull_5{left:-400px}.container_12
.pull_7{left:-560px}.container_12
.pull_8{left:-640px}.container_12
.pull_10{left:-800px}.container_12
.pull_11{left:-880px}.container_16
.pull_1{left:-60px}.container_16
.pull_2{left:-120px}.container_16
.pull_3{left:-180px}.container_16
.pull_5{left:-300px}.container_16
.pull_6{left:-360px}.container_16
.pull_7{left:-420px}.container_16
.pull_9{left:-540px}.container_16
.pull_10{left:-600px}.container_16
.pull_11{left:-660px}.container_16
.pull_13{left:-780px}.container_16
.pull_14{left:-840px}.container_16
.pull_15{left:-900px}.clear{clear:both;display:block;overflow:hidden;visibility:hidden;width:0;height:0}.clearfix:after{clear:both;content:' ';display:block;font-size:0;line-height:0;visibility:hidden;width:0;height:0}* html .clearfix,*:first-child+html
.clearfix{zoom:1}._editor
div.slide{position:relative}._editor
div.slideshow{display:block;height:auto;overflow:visible}._req:after{color:#923c83;content:' (required)';font-size:80%;line-height:16px}.img-left{float:left;margin:10px
20px 10px 0}.img-right{float:right;margin:10px
0 10px 20px}a.download{background:url(../images/download_file.png) no-repeat 20px 5px;border-top:1px dotted #ddd;display:block;height:32px;line-height:32px;padding:5px
0px 5px 60px}a.download.word{background-image:url(../images/download_word.png)}a.download.pdf{background-image:url(../images/download_pdf.png)}a.download+br{height:1px;line-height:0px}a.inline{display:inline}div.article li
a{display:inline}div.banner_image{background-position:center top;background-repeat:no-repeat;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;height:300px;margin-bottom:20px;position:relative;width:620px}div.banner_image input[type="submit"]{background-position:left -67px;bottom:20px;font-size:18px;padding:5px
20px;position:absolute;right:20px;width:auto}div.course,div.feature{background:#efefef url(../images/feature-gradient.jpg) repeat-x left bottom;border:1px
solid #b4b4b8;float:left;height:150px;margin:0px
5px 10px;overflow:hidden;padding:0px
0px 10px;position:relative;width:335px;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;-webkit-box-shadow:0px 3px 3px rgba(0,0,0,0.1);-moz-box-shadow:0px 3px 3px rgba(0,0,0,0.1);box-shadow:0px 3px 3px rgba(0,0,0,0.1)}div.course{background-color:white;height:322px;padding:10px;width:275px}div.course h2, div.feature
h2{background:#cfcdcf url(../images/feature-header-gradient.jpg) repeat-x left top;border-bottom:1px solid #b4b4b8;color:#3d3c3c;margin:0px;padding:7px
15px;-webkit-border-top-left-radius:5px;-webkit-border-top-right-radius:5px;-moz-border-radius-topleft:5px;-moz-border-radius-topright:5px;border-top-left-radius:5px;border-top-right-radius:5px}div.course
h2{margin: -10px -10px 10px -10px}div.course h2 a, div.feature h2
a{color:#3d3c3c}div.course h2 a:hover, div.feature h2 a:hover{text-decoration:none}div.course
p.img{margin-bottom:10px}div.course .more, div.feature
.more{background:url(../images/btn_more.png) no-repeat top left;display:block;height:20px;position:absolute;right:7px;visibility:hidden;width:71px}div.course
.more{bottom:7px}div.course.hover,div.feature.hover{background-image:url(../images/feature-gradient-hover.jpg);border-color:#cc8cb1;cursor:pointer}div.course.hover h2, div.feature.hover
h2{background:#eac3e2 url(../images/feature-header-gradient-hover.jpg) repeat-x left top;border-color:#cc8cb1}div.course.hover h2 a, div.feature.hover h2
a{color:#a7018b}div.course.hover .more, div.feature.hover
.more{visibility:visible}div.feature
img{margin:10px
10px -10px}div.feature
img.cutout{bottom:10px;float:left;left:10px;margin:0;position:absolute;z-index:5}div.feature
ul{margin:20px
10px 0px 150px;position:relative;z-index:10}div.feature ul
li{font-size:12px;line-height:1.4em;list-style:disc;margin-bottom:10px}div.feature
.more{top:7px}div.feature.training{height:180px}div.gallery
a{border:1px
solid #b4b4b8;display:block;float:left;height:100px;margin:6px;padding:5px;width:100px;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px}div.gallery a:hover{border-color:#cc8cb1}div.grid_4
ul.social{margin:0px
0px 20px 20px}div.grid_4 ul.social
a{color:#48484b;padding-left:46px}div.grid_4 ul.social a:hover{color:#9f218b;text-decoration:none}div.grid_4 ul.social
li{line-height:32px;list-style:none;margin:4px
0px}div.grid_4 ul.social li.facebook
a{background:url(../images/social_facebook.png) no-repeat left top}div.grid_4 ul.social li.twitter
a{background:url(../images/social_twitter.png) no-repeat left top}div.input_holder{margin:4px
0px}div.input_holder.ftextarea{height:inherit}div.input_holder input, div.input_holder select, div.input_holder
textarea{background:#efefef url(../images/feature-gradient.jpg) repeat-x left bottom;display:block;border:1px
solid #B4B4B8;line-height:16px;margin:5px
0px 0px 15px;padding:5px;-webkit-border-radius:2px;-moz-border-radius:2px;border-radius:2px}div.input_holder input:focus, div.input_holder textarea:focus{background:#efefef url(../images/feature-gradient-hover.jpg) repeat-x left bottom;border-color:#cc8cb1;outline:0px}div.input_holder
label{display:block;font-size:14px;margin:0px
20px 0px 0px;padding:2px
0px 0px 0px}div.input_holder.ficheckbox
label{margin:0px;width:500px}div.input_holder.ficheckbox
input{float:left;margin:5px
10px 0 15px}div.checkbox_container{clear:both;display:block}div.checkbox_container
div.input_holder.ficheckbox{float:left;width:380px}div.checkbox_container div.input_holder.ficheckbox
label{font-weight:300}div.input_holder.firadio
label{text-align:left}div.input_holder.firadio
label.lbl_heading{margin-bottom:10px}div.input_holder.firadio div.radio_options
input{background:transparent;border:none;clear:left;float:left;margin-left:50px;margin-top:2px;padding:0px
5px}div.input_holder.firadio div.radio_options
label{float:left;font-size:13px;margin:0px
0px 5px 20px;padding-top:0px;width:500px}div.input_holder.fselect{padding-bottom:1px}div.input_holder.fselect
select{margin-top:3px}div.input_holder p.error, div.input_holder
p.nb{font-size:11px;margin-bottom:5px;margin-left:15px}div.news{background:#fff;border:1px
solid #b4b4b8;color:#6f6f6f;margin:0
0 20px;padding:10px;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px}div.news
h2{background:#e9e8e9;color:#222;border-bottom:1px solid #b4b4b8;line-height:1.4em;margin: -10px -10px 10px;padding:5px
30px 5px 10px;;position:relative;-webkit-border-top-left-radius:5px;-webkit-border-top-right-radius:5px;-moz-border-radius-topleft:5px;-moz-border-radius-topright:5px;border-top-left-radius:5px;border-top-right-radius:5px}div.news h2
img{position:absolute;right: -20px;top:10px}div.news
p{margin-bottom:0px}div.slide{background:url(../images/banner-background.png) no-repeat left top;height:315px;overflow:hidden;width:940px}div.slide
h1{border:0px;color:#fff;font-size:32px}div.slide
img{border:1px
solid #fff;float:left;margin:10px
20px 10px 10px}div.slide
.slide_content{color:#fff;margin:40px
40px 0px 0px}div.slide .slide_content
p{font-size:14px;font-weight:normal}div.slideshow{height:315px;margin-bottom:25px;overflow:hidden;position:relative;width:940px}div.vcard
p{margin-bottom:3px}div.vcard
p.adr{color:#888;margin-left:65px}div.vcard p.adr
br{display:none}div.vcard p.adr span:before{content:' '}div.vcard
p.fn.org{color:#888;float:left}div.vcard>p.tel:after{content:' | '}div.vcard
p.tel{color:#888;float:left}div.vcard p.tel:last-child{float:none;margin-left:150px}div.vcard p.tel
.type{display:none}fieldset.registration
form{padding:0px
30px}fieldset
div.fieldset_col{display:inline;float:left;margin:0px;width:278px}fieldset div.fieldset_col
input{width:240px}fieldset div.fieldset_col+div.fieldset_col{margin-left:20px}h1.solo{margin-top:2px}img.burst{position:absolute;right:10px;top:30px}input.button{}input.button:hover{}p.error{clear:left;color:red;font-size:12px;margin:0px}table.clean td:first-child{background:white;width:auto}table.no-border{border:none}table.course{border:1px
solid #ddd;border-collapse:separate;width:618px}table.course
td{background:#fff;border:2px
solid white;padding:10px}table.course
td.heading{background:#f8eaf7;color:#555;width:160px}table.downloads thead
td{background:#f0f0f0;border-bottom:1px solid #dfdfdf;font-weight:bold}table.downloads
span{display:block;height:16px;margin-left:20px;text-indent: -9999px}table.downloads
span.pdf{background:url(../images/download_pdf_16.png) no-repeat left center}table.downloads
span.word{background:url(../images/download_word_16.png) no-repeat left center}table.downloads
td{background:transparent;padding:8px
10px}table.downloads tbody
td{font-size:11px}table.downloads td:first-child{font-size:13px;width:250px}table.downloads tr:nth-child(even){background:#f8f8f8}table.downloads tr:nth-child(odd){background:white}table.skeleton{border:none}table.skeleton
td{background:transparent !important}ul.quicklinks{border:1px
solid #cc8cb7;border-width:1px 0px;font-size:12px;margin:0px
0px 20px 0px}ul.quicklinks
li{background:url(../images/subnav-gradient.png) repeat-x left top;line-height:30px;list-style:none}ul.quicklinks li
a{background:url(../images/subnav-arrow.png) no-repeat 10px 11px;color:#000;display:block;padding-left:20px;text-decoration:none}ul.quicklinks li a:hover{background:url(../images/subnav-arrow-hover.png) no-repeat 10px 11px;color:#923c83}.microformat-hidden{display:none}span.stars{background:url(../images/icon_star.png) repeat-x 0px -3px;display:inline-block;height:16px;position:relative;top:3px;width:100px}span.stars:after{background:url(../images/icon_star-none.png) repeat-x 0px -3px;content:' ';display:block;height:16px;position:relative;top: -20px;width:0px}span.stars.star-1{width:20px}span.stars.star-1:after{width:80px;margin-left:20px}span.stars.star-2{width:40px}span.stars.star-2:after{width:60px;margin-left:40px}span.stars.star-3{width:60px}span.stars.star-3:after{width:40px;margin-left:60px}span.stars.star-4{width:80px}span.stars.star-4:after{width:20px;margin-left:80px}h2.hreview-aggregate{text-align:center;margin:20px}.review{position:relative}.review
img{left:0;position:absolute;top:0}.review p.review-rating
.rating{color:transparent}.review .review-reviewer{color:#823351;font-size:18px}.review p.review-summary{font-weight:bold}.review-full{border-bottom:1px dashed #DBDADF;margin:10px
auto 30px;width:570px}.review-full p.review-description{line-height:1.6em}.review-full p.review-summary{font-size:16px}.review-preview{background:#f9f5f1;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;box-shadow:0 0 3px #dbc9b6;float:left;margin:10px
20px;padding:20px;width:400px}.review-preview
img{left:15px;top:10px}.review-preview p.review-description{font-size:12px;line-height:1.6em}.review-preview p.review-rating{float:left;margin:0}.review-preview p.review-reviewer{margin:0
0 10px 130px}.review-preview p.review-summary{font-size:14px;margin-bottom:5px}.review-summary
a{color:#666}.review-small{background:#f9f5f1;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;box-shadow:0 0 3px #dbc9b6;margin:10px
20px;padding:20px}.review-small
img{box-shadow:none !important}.review-small p.review-description{font-size:11px}.review-small p.review-rating{margin-left: -10px}.review-small p.review-reviewer{margin-bottom:0}dl#contact{margin-left:20px}dl#contact
dd{display:block;line-height:140%;margin:0px
0px 10px 110px}dl#contact
dt{float:left;font-weight:bold;width:100px}#course_price
td{padding:10px;vertical-align:middle}#course_price td.cta input[type="submit"]{margin:0px}#course_price
td.desc{width:308px}#course_price
td.price{background:#9F218B;color:#fff;font-size:20px;padding:10px;text-align:center}#facebook,#twitter{color:#48484B;display:block;background:url(../images/social-buttons.png) no-repeat left top;line-height:16px;margin:15px
0px 0px 10px;padding:0px
0px 0px 30px}#facebook{background-position:left bottom}#feedback{margin:0px
0px 5px 0px}#feedback
p{border-radius:3px;color:#444;font-size:11px;padding:8px
12px;margin:0px
0px 2px 0px}#feedback
p.error{background:#fae3e3;border:1px
solid #d5b1b1}#feedback
p.information{background:#e3f3ff;border:1px
solid #b6cfe0}#feedback
p.printer{background:#dae0f7;border:1px
solid #404e84}#feedback
p.search{background:#edffff;border:1px
solid #71d1d1}#feedback p.search
a.clear{background:white url(img/x-solo-small.html) no-repeat 5px center;border:1px
solid #CACACA;border-radius:3px;color:#666;float:right;font-weight:bold;margin-top: -4px;padding:3px
8px 3px 22px}#feedback p.search a.clear:hover{background-image:url(img/x-solo-small-hover.html);border-color:#aaa;text-decoration:none}#feedback p.search
.criteria{background:rgba(255, 255, 255, 0.4);margin-right:30px;padding:0
5px;position:relative}#feedback p.search .criteria
a{background:transparent url(img/x-solo-small.html);display:block;height:12px;position:absolute;right: -10px;top:0px;width:12px}#feedback p.search .criteria a:hover{background-image:url(img/x-solo-small-hover.html);text-decoration:none}#feedback
p.success{background:#dff4d8;border:1px
solid #bad5b1}#feedback
p.warning{background:#fafae3;border:1px
solid #e0dbb6}#feedback p
.type{font-weight:bold;margin-right:3px;text-transform:uppercase}#footer{background:#fff;border-top:1px solid #f7f7f7;margin-top:25px}#footer>div.container_12>div{padding-top:10px}#footer
div.header{border:1px
solid #d9d9d9;border-width:1px 0px;padding:0px
0px 5px}#footer div.contact-details{margin-left:105px}#footer div.contact-logo{float:left;padding-top:5px;width:100px}#footer div.teacher-training{margin-top:15px;text-align:right}#footer
p{font-size:11px}#footer
p.agent_login{margin-bottom:10px}#footer
p.disclaimer{margin-bottom:0px;text-align:right}#footer
p.copyright{margin-bottom:0px;padding:0px
0px 10px}#footer
p.correspondence{margin-bottom:4px}#footer
ul.accreditations{height:38px;margin:10px
0 5px}#footer ul.accreditations
li{float:left;list-style:none;margin:0
25px}#footer ul.accreditations li
span{background:url() no-repeat left top;display:block;height:38px;text-indent: -9999px}#footer ul.accreditations li span.british-council{background-image:url(../images/acc_british-council.png);width:74px}#footer ul.accreditations li span.business-english-uk{background-image:url(../images/acc_business-english-uk.png);width:110px}#footer ul.accreditations li span.cambridge-esol{background-image:url(../images/acc_cambridge-esol.png);width:175px}#footer ul.accreditations li span.english-uk{background-image:url(../images/acc_english-uk.png);width:120px}#footer ul.accreditations li
span.isi{background-image:url(../images/acc_isi.png);width:63px}#footer ul.accreditations li span.quality-english{background-image:url(../images/acc_quality-english.png);width:85px}#footer ul.accreditations li span.trinity-selt{background-image:url(../images/acc_trinity-selt.png);width:92px}#google_translate_element{float:right;margin-top:10px}#google_translate_element
a{display:inline}#google_translate_element a:hover{text-decoration:none}#gmap{height:300px;margin-bottom:20px;width:620px}#header{background:#f0f0f0 url(../images/header-bg.jpg) repeat-x center top;display:block;height:148px;margin-bottom:25px;position:relative;z-index:998}#header .nav
ul{border:1px
solid #d0d0d0;border-width:0px 1px 0px 0px;float:right;margin:0;padding:0;position:relative}#header .nav ul
li{float:left;line-height:70px;list-style:none;padding:0px;position:relative}#header .nav ul li
a{border:none;border-left:1px solid #d0d0d0;color:#6b6b6e;font-size:13px;min-width:60px;padding:37px
18px 0px;text-align:center;text-decoration:none;z-index:10}#header .nav ul li:hover{background:#a8a7aa url(../images/nav-hover.png) repeat-x right top}#header .nav>ul>li.active{background:#ae4d9f url(../images/nav-element.png) repeat-x right top}#header .nav > ul > li > a:hover, #header .nav > ul > li:hover > a, #header .nav>ul>li.active>a{background:transparent url(../images/nav-hover.png) repeat-x left bottom;color:#fff;cursor:pointer;text-decoration:none}#header .nav>ul>li.active>a{background:transparent url(../images/nav-element.png) repeat-x -190px bottom}#header .nav ul li.active a:hover span, #header .nav ul li.active a
span{background:url(../images/nav-arrow.png) no-repeat center bottom;display:block}#header .nav ul
ul{background:#f0f0f0;border:1px
solid #f1d9ec;-webkit-box-shadow:0px 2px 3px rgba(0,0,0,0.15);-moz-box-shadow:0px 2px 3px rgba(0,0,0,0.15);box-shadow:0px 3px 2px rgba(0,0,0,0.15);left:0px;padding:0px;position:absolute;top:107px;visibility:hidden;width:260px}#header .nav ul ul
li{background:transparent;line-height:140%;margin:0px;padding:0px;text-align:left}#header .nav ul ul li:hover{background:white}#header .nav ul ul
li.heading{background:white;color:#9f218b;font-family:'Cantarell',arial,sans-serif;font-size:16px;line-height:48px;padding-left:20px;width:240px}#header .nav ul ul li.heading
.arrow{background:url(../images/nav-arrow.png) no-repeat top left;height:9px;position:absolute;top: -9px;width:15px}#header .nav ul ul li
a{border-left:0px;border-top:1px dotted #cc8cb7;color:#48484b;padding:6px
25px;text-align:left;text-transform:none;width:210px}#header .nav ul ul li a:hover, #header .nav ul ul li.active>a{color:#9f218b}#header .nav ul ul
ul{left:260px;top:0px}#header .nav ul ul ul>li.first>a{border-top:0px}#header .nav ul :hover > ul, #header .nav ul ul :hover > ul
ul{visibility:visible}#header .nav ul ul
ul{position:absolute;visibility:hidden}#header .nav ul ul ul
ul{-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none;left:0;position:relative}#header .nav ul ul ul ul
a{padding-left:50px;width:185px}#header .nav ul ul ul ul
li{background:#f4f4f4}#header.alt{background:#f0f0f0 url(../images/header-bg-alt.jpg) repeat-x center top}#header.alt .nav>ul{float:left;height:38px;margin:2px
0 0}#header.alt .nav>ul>li{line-height:38px}#header.alt .nav>ul>li>a{padding:1px
18px 0}#header.alt .nav > ul > li > a:hover, #header.alt .nav > ul > li:hover > a, #header.alt .nav>ul>li.active>a{background:transparent url(../images/nav-hover.png) repeat-x left top}#header.alt .nav>ul>li.active>a{background:transparent url(../images/nav-element.png) repeat-x -190px top}#header.alt .nav ul
ul{top:40px}#header.alt .nav ul ul
ul{top:0}#header.alt
.contact{font-size:15px;font-weight:normal;float:right;margin-top:32px;text-align:right}#header.alt .contact
.highlight{color:#923c83;display:inline-block;text-align:left;width:186px}#header.alt
.social{background:transparent url(../images/header-alt-social-sprite.png) no-repeat top left;border:0;display:block;float:left;height:41px;left:340px;margin:35px
5px 0;overflow:hidden;position:relative;width:41px;*text-indent: -9999px}#header.alt .social.social-unipay{background-position:top left}#header.alt .social.social-twitter{background-position:top right}#header.alt .social.social-facebook{background-position:top center}#header.alt .social:before{content:"";display:block;width:0;height:150%}#homeshow
ol.controls{left:640px;margin:0px;position:absolute;top:270px}#homeshow ol.controls
li{background:#e8afdc;border:1px
solid white;color:#ac80a3;cursor:pointer;float:left;font-weight:bold;line-height:30px;list-style:none;margin:0px
1px 0px 0px;text-align:center;width:30px}#homeshow ol.controls
li.current{background:#efcde8}#howweteach{background:#F0F0F0;border:1px
solid #cb8bbd;-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px}#howweteach
h3{background:white;border-bottom:1px dotted #cb8bbd;-webkit-border-top-left-radius:5px;-webkit-border-top-right-radius:5px;-moz-border-radius-topleft:5px;-moz-border-radius-topright:5px;border-top-left-radius:5px;border-top-right-radius:5px;color:#9f218b;font-family:'Cantarell',verdana,sans-serif;font-size:16px;margin:0;padding:10px
15px}#howweteach
p{margin-bottom:0;padding:10px
15px}#logo{border:0px;float:left;margin:20px
0px 10px;width:144px}#logo
a{background:url('../images/logo.png') no-repeat left top;display:block;height:76px;text-indent: -9999px;width:144px}#promo_video{background:url(../images/play-video.jpg) no-repeat left top;height:172px;margin-bottom:20px;text-indent: -9999px;width:300px}.home
#promo_video{background:url(../images/play-video-home.jpg) no-repeat left top;height:126px;width:220px}#promo_video:hover{background-position:left bottom}#quiz div.question
div.contents{margin-left:110px}#quiz div.question
div.number{color:#eccee6;float:left;font-size:50px;text-align:center;width:100px}#quiz
div.question_block{clear:both;display:none}#quiz
div.question_block#block_1{display:block}#quiz div.question_block#block_final
div.number{color:#9F218B}

#quiz div.question_block
a.finish{color:#444;font-weight:bold}#quiz div.question_block a.next_block, #quiz div.question_block a.previous_block, #quiz div.question_block
a.finish{background:#eee url(../images/nav-gradient.html) center bottom;border:1px
solid #d0d0d0;-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;color:#6b6b6e;float:right;padding:10px
30px}#quiz div.question_block
a.previous_block{float:left}#quiz div.question_block a:hover{border-color:#aaa;color:#9F218B;text-decoration:none}#quiz div.contents
p{font-size:16px;margin-bottom:10px}#quiz div.contents
h2{font-size:18px}#quiz div.contents p
.answer{color:#9F218B;font-weight:bold}#quiz ul.answers
li{cursor:pointer;padding:3px
10px}#quiz ul.answers
li.correct{background:#EEFFED;border-bottom:1px solid #bde2bc}#quiz ul.answers
li.hover{background:#eee}#quiz_progress{border:1px
solid #eee;height:30px;margin:0px
0px 20px 0px;padding:3px
4px}#quiz_progress
li{color:#888;float:left;line-height:30px;list-style:none;text-align:center;width:122px}#quiz_progress
li.completed{background:#9F218B;color:white}#subnav{margin-bottom:20px}#subnav
a{color:#48484b;padding:6px
10px 6px 20px}#subnav a:hover, #subnav li.active>a{color:#9f218b;text-decoration:none}#subnav
li{background:#fff;list-style:none}#subnav li.expander
ul{display:none}#subnav>ul{background:white url(../images/subnav_ul_bg.png) repeat-x bottom left;border:1px
solid #cb8bbd;-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;margin-left:0px;padding:0px
0px 5px}#subnav>ul>li{-webkit-border-top-left-radius:5px;-webkit-border-top-right-radius:5px;-moz-border-radius-topleft:5px;-moz-border-radius-topright:5px;border-top-left-radius:5px;border-top-right-radius:5px}#subnav>ul>li>a{background:none;color:#9f218b;font-family:'Cantarell',verdana,sans-serif;font-size:16px;margin:5px
0px}#subnav ul
ul{border:0px;-webkit-border-bottom-right-radius:5px;-webkit-border-bottom-left-radius:5px;-moz-border-radius-bottomright:5px;-moz-border-radius-bottomleft:5px;border-bottom-right-radius:5px;border-bottom-left-radius:5px;margin:0px}#subnav ul ul
li{background:#f0f0f0;border-top:1px dotted #cb8bbd}#subnav ul ul li.expander > a, #subnav ul ul li.expanded>a{background:url(../images/subnav_arrows.png) no-repeat 20px 10px;padding-left:40px}#subnav ul ul li a:hover, #subnav ul ul li.active>a{background-position:20px -40px}#subnav ul ul li.expanded > a, #subnav ul ul li.expanded>a{background-position:20px -90px}#subnav ul ul li.active.expanded > a, #subnav ul ul li.expanded>a:hover{background-position:20px -130px}#subnav ul ul ul
li{padding-left:20px}#subnav ul ul ul li
a{padding-left:30px}#summer_school_programmes{background:url(../images/bg_summer_school_programmes.png) no-repeat left center;height:132px;margin: -20px auto 30px;padding:0
30px;width:810px}#summer_school_programmes
a{color:#c96b09}#summer_school_programmes a:hover{color:#fe9313}#summer_school_programmes
h2{color:#c96b09;padding-top:10px}#summer_school_programmes
ul{margin-bottom:10px}#summer_school_programmes ul
a{text-decoration:underline}#verify_name{display:none}#simple-modal-overlay{position:fixed;display:block;z-index:99998;top:0;left:0;width:100%;height:100%;background-color:#78306B;background-position:center center;background-repeat:no-repeat;background: -webkit-gradient(radial, center center, 0, center center, 460, from(#A44D96), to(#722D66));background: -webkit-radial-gradient(circle, #A44D96, #722D66);background: -moz-radial-gradient(circle, #A44D96, #722D66);background: -ms-radial-gradient(circle,#A44D96,#722D66)}.simple-modal{width:600px;left:20px;top:20px;position:absolute;position:fixed;margin:0;color:#808080;font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;font-size:13px;font-weight:normal;line-height:18px;background-color:#FFF;border:1px
solid #EAEEFA;border:1px
solid rgba(234, 238, 250, 0.4);-webkit-box-shadow:0 0 3px rgba(0, 0, 0, 0.4);-moz-box-shadow:0 0 3px rgba(0, 0, 0, 0.4);box-shadow:0 0 3px rgba(0, 0, 0, 0.4);z-index:99999}.simple-modal .simple-modal-header{background:#dfdfdf;background: -moz-linear-gradient(top,  #dfdfdf 0%, #cacaca 100%);background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#dfdfdf), color-stop(100%,#cacaca));background: -webkit-linear-gradient(top,  #dfdfdf 0%,#cacaca 100%);background: -o-linear-gradient(top,  #dfdfdf 0%,#cacaca 100%);background: -ms-linear-gradient(top,  #dfdfdf 0%,#cacaca 100%);background:linear-gradient(top,  #dfdfdf 0%,#cacaca 100%);filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#dfdfdf', endColorstr='#cacaca',GradientType=0 );border-bottom:1px solid #bbb}.simple-modal .simple-modal-header
h1{border:none;color:#444;font-size:16px;margin:0;padding:10px
0 10px 20px;text-shadow:1px 1px 0px #EFEFEF}.simple-modal
a.close{position:absolute;right:15px;top:13px;color:#999;font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;font-size:17px;font-weight:normal;line-height:10px;text-decoration:none}.simple-modal a.close:hover{color:#444}.simple-modal .simple-modal-body{padding:15px}.simple-modal .simple-modal-body
div.contents{overflow:hidden}.simple-modal .simple-modal-body
p{font-size:13px;font-weight:normal;color:#606060;line-height:18px}.simple-modal .simple-modal-body p
img{display:block;margin:0
auto 10px auto}.simple-modal .simple-modal-footer{display:block;background-color:#F5F5F5;padding:14px
15px 15px;border-top:1px solid #EEE;-webkit-border-radius:0 0 6px 6px;-moz-border-radius:0 0 6px 6px;border-radius:0 0 6px 6px;-webkit-box-shadow:inset 0 1px 0 #FFF;-moz-box-shadow:inset 0 1px 0 #FFF;box-shadow:inset 0 1px 0 #FFF;zoom:1;margin-bottom:0;text-align:center}.simple-modal .simple-modal-footer
a.btn{background:#fff;background: -moz-linear-gradient(top,  #fff 0%, #efefef 65%, #dfdfdf 100%);background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(65%,#efefef), color-stop(100%,#dfdfdf));background: -webkit-linear-gradient(top,  #fff 0%,#efefef 65%,#dfdfdf 100%);background: -o-linear-gradient(top,  #fff 0%,#efefef 65%,#dfdfdf 100%);background: -ms-linear-gradient(top,  #fff 0%,#efefef 65%,#dfdfdf 100%);background:linear-gradient(top,  #fff 0%,#efefef 65%,#dfdfdf 100%);filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#dfdfdf',GradientType=0 );border:1px
solid #CACACA;-webkit-border-radius:5px;-moz-border-radius:5px;-o-border-radius:5px;border-radius:5px;color:#222;cursor:pointer;font-family:'Lucida Grande','Lucida Sans',Verdana,sans-serif;font-size:12px;font-weight:normal;line-height:15px;margin:0
10px 0 0;padding:4px
20px 5px;text-transform:capitalize}.simple-modal .simple-modal-footer a.btn:hover{text-decoration:none}.simple-modal .simple-modal-footer
a.btn.primary{margin-right:15px}.simple-modal .simple-modal-footer a.btn.primary:hover{background:#fff;background: -moz-linear-gradient(top,  #fff 0%, #edf5fa 65%, #e3f1fb 100%);background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(65%,#edf5fa), color-stop(100%,#e3f1fb));background: -webkit-linear-gradient(top,  #fff 0%,#edf5fa 65%,#e3f1fb 100%);background: -o-linear-gradient(top,  #fff 0%,#edf5fa 65%,#e3f1fb 100%);background: -ms-linear-gradient(top,  #fff 0%,#edf5fa 65%,#e3f1fb 100%);background:linear-gradient(top,  #fff 0%,#edf5fa 65%,#e3f1fb 100%);filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e3f1fb',GradientType=0 );border-color:#8f96a8;color:#16388E}.simple-modal .simple-modal-footer a.btn.secondary[title="Cancel"]{background:none;border:0;border-radius:0;color:#A81111;padding:2px}.simple-modal .simple-modal-footer a.btn.secondary[title="Cancel"]:hover{color:white;background:#A81111}.simple-modal .simple-modal-footer a.btn.secondary:hover{color:#999}.simple-modal.draggable .simple-modal-header:hover{cursor:move;background-color:#f8f8f8}.simple-modal.loading .simple-modal-body{min-height:60px;background:transparent url(img/loader.html) no-repeat center center}.simple-modal.loading .simple-modal-body
div.contents{display:none}.simple-modal.loading .close, .simple-modal.loading .simple-modal-header, .simple-modal.loading .simple-modal-footer{display:none}.simple-modal.hide-header .simple-modal-header{display:none}.simple-modal.hide-footer .simple-modal-footer{display:none}