.firstDiv{
  color: blue;
}
.secondDiv{
  color: red;
}
#unique{
  color: green;
  text-decoration: line-through;
}

h3 + ol{
  border: 3px dotted purple;
}
li a{
  color: orange;
  text-decoration: underline;
}

li a[href="https://www.google.com/"]{
  color: blue;
  border: 4px solid red;
  text-decoration: underline;
}
