body{
  background: url("BMW-R-nine-T-Pure-13.jpg");
  background-repeat: repeat;
}
div{
  background: red;
  border-width: 3px;
  border-style: dotted;
  border-color: black;
}
span{
  background: brown;
  color: Blue;
}
