body{
  background:#2EC4B6;
  text-align: center;
}

.thankyou{
  background: #011627;
  color: white;
  margin-left: 10%;
  margin-right: 10%;
}


h2{
  font-size: 4em;
  margin-bottom: 0;
  margin-top: 20%;
  padding-top: 25px;
}

p{
  margin-top: 0;
  padding-top: 10px;
  padding-bottom: 25px;
  font-size: 1.3em;
}
